/* Colors:
/* Dark Teal: #69C4CC */
/* Light Teal: #CFEFEE */

h1, h2, h3, h4, h5, h6 { margin: 0; }
body { background-color: #69C4CC; }
header { background-color: #CFEFEE; }
nav#main { background-color: #F3CECD; }
section { background-color: #FFFFFF; }

/* Basic Global Styles */

nav ul {
  list-style-type: none;
}
nav ul li {
  display: inline-block;
}

/* Grid Layout */

header {
  padding-top: 1em;
  text-align: right;
}
header nav#authentication {
  float: right;
}
header h1 {
  float: left;
}

body > section, header > section, nav#authentication, footer {
  margin: 0 5em;
  clear: right;
}

@media screen and (max-width: 700px){
  body > section, header > section, nav#authentication, footer {
    margin: 0 2em;
  }
}

nav#main, footer {
  text-align: center;
}
nav#main {
  padding: 0.5em;
}
nav#main ul {
  margin: 0;
}

body > section {
  padding: 1em;
}

section {
  clear: both;
}
section:after {
  content: "";
  display: table;
  clear: both;
}

.left_column, .right_column {
  width: 50%;
  float: left;
}

ul#children {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
ul#children * {
  max-width: 100%;
}

ul#social {
  list-style-type: none;
  padding: 0;
}

ul#social li {
  display: inline-block;
  width: 20%;
  margin-right: 5%;
}
ul#social img {
  max-width: 100%;
}
ul#social li:nth-child(4n) {
  margin-right: 0;
}

@media screen and (max-width: 700px){
  ul#social li {
    width: 47.5%;
    margin: 0;
    float: left;
  }

  ul#social li:nth-child(odd){
    clear: left;
    margin-right: 5%;
  }
}

.login-modal {
  display: none;
}

.lightbox {
  background: #000;
  opacity: .5;
  position: fixed;
  top: 0;
  height: 100%;
  width: 100%;
}

.login-form {
  border: 2px solid red;
  width: 300px;
  text-align: center;
  background: #69C4CC;
  margin: 150px 0 0 -150px;
  position: absolute;
  top: 0;
  left: 50%;
}
